<section class="header"></section>
<section class="tabs">
  <ul>
    <li>Newest</li>
    <li>Popular</li>
    <li>End Date</li>
  </ul>
</section>
<section class="donation-listings">
  <div class="listing-top">
    <div class="listing-image">
      <img src="../../assets/donation-chain-760x400.jpg"/>
    </div>
    <div class="listing-info">
      <a routerLink="/single"><h1>Feed 60 kids for a month</h1></a>
      <p>Raising R30 000.00 by 21 Aug</p>
      <p class="bold-text">Feed-a-child, Cape Town</p>
    </div>
  </div>
  <div class="voting-info">
    <div class="period-remaining">
      <p>1 day remaining</p>
    </div>
    <div class="raised-count">
      <p>24% raised</p>
    </div>
  </div>
</section>

<section class="donation-listings">
  <div class="listing-top">
    <div class="listing-image">
      <img src="../../assets/give.jpg"/>
    </div>
    <div class="listing-info">
      <a routerLink="/single"><h1>Feed 60 kids for a month</h1></a>
      <p>Raising R30 000.00 by 21 Aug</p>
      <p class="bold-text">Feed-a-child, Cape Town</p>
    </div>
  </div>
  <div class="voting-info">
    <div class="period-remaining">
      <p>1 day remaining</p>
    </div>
    <div class="raised-count">
      <p>24% raised</p>
    </div>
  </div>
</section>

<section class="donation-listings">
  <div class="listing-top">
    <div class="listing-image">
      <img src="../../assets/give.jpg"/>
    </div>
    <div class="listing-info">
      <a routerLink="/single"><h1>Feed 60 kids for a month</h1></a>
      <p>Raising R30 000.00 by 21 Aug</p>
      <p class="bold-text">Feed-a-child, Cape Town</p>
    </div>
  </div>
  <div class="voting-info">
    <div class="period-remaining">
      <p>1 day remaining</p>
    </div>
    <div class="raised-count">
      <p>24% raised</p>
    </div>
  </div>
</section>

<section class="donation-listings">
  <div class="listing-top">
    <div class="listing-image">
      <img src="../../assets/give.jpg"/>
    </div>
    <div class="listing-info">
      <a routerLink="/single"><h1>Feed 60 kids for a month</h1></a>
      <p>Raising R30 000.00 by 21 Aug</p>
      <p class="bold-text">Feed-a-child, Cape Town</p>
    </div>
  </div>
  <div class="voting-info">
    <div class="period-remaining">
      <p>1 day remaining</p>
    </div>
    <div class="raised-count">
      <p>24% raised</p>
    </div>
  </div>
</section>

