<section class="header">
  <div class="single-logo">
    <div class="logo">
      <img src="../../assets/brand.gif" alt="Logo"/>
    </div>
    <div class="charity-name">
      <h1>Sponsor a farm with 1000 liters of clean water</h1>
    </div>
  </div>
  <div class="progress" style="height: 10px;">
      <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"><span class="progress-label">35%</span></div>
    </div>
  <div class="single-donation-info">
      
    <div class="single-blocks goal">
      <h2>R750 000</h2>
      <p>Goal</p>
    </div>
    <div class="single-blocks days-to-go">
      <h2>30</h2>
      <p>days to go</p>
    </div>
    <div class="single-blocks contributions-header">
      <h2>250</h2>
      <p>Contributions</p>
    </div>
  </div>
</section>
<section class="tabs">
  <ul>
    <li>Newest</li>
    <li>Popular</li>
    <li>End Date</li>
  </ul>
</section>
<section class="single-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas integer eget aliquet nibh praesent. Mus mauris vitae ultricies leo integer malesuada. Libero enim sed faucibus turpis in eu.</p>
<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Mauris vitae ultricies leo integer</li>
  <li>Faucibus scelerisque eleifend</li>
  <li>Molestie ac feugiat sed lectus</li>
  <li>Mattis aliquam faucibus </li>
</ul>
<button class="donate-butto">Donate</button>
</section>